<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/style.css">
  <title>Login</title>
</head>
<body>
  <section class="login-container">
    <h2>Nuevo Registro</h2>
    <form action="/productos/new" method="POST" class="login">
     <section class="campos">  
        <label>Nombre:</label><br>
        <input type="text" name="nombre">
      </section>
      <section class="campos">  
        <label>Descripcion:</label><br>
        <input type="text" name="descripcion">
      </section >
      <section class="campos">     
        <label>Precio:</label><br>
        <input type="text" name="precio">
      </section>  
      <section class="boton">       
        <button>
          <a href="">Enviar</a>
        </button>
      </section> 
    </form>
  </section>
</body>
</html>
